@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
.btn-2 {
  border-radius: 10px; }

/*fonts*/
* {
  font-family: 'Roboto'; }

h1 {
  font-family: Roboto;
  font-size: 4em;
  color: white; }

h2 {
  font-family: Roboto;
  font-size: 3em;
  color: white; }

h3 {
  font-family: Roboto;
  font-size: 2em;
  color: white; }

h4 {
  font-family: Roboto;
  font-size: 1em;
  color: white; }

p {
  font-family: Roboto;
  font-size: 1em;
  color: white; }

nav {
  background-color: white; }
  nav li a .btn, nav li a .btn-2 {
    margin-top: -5%; }

#botonera {
  background-color: white; }
  #botonera img {
    width: 200px; }

.flip-in-hor-top {
  -webkit-animation: flip-in-hor-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: flip-in-hor-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both; }

@-webkit-keyframes flip-in-hor-top {
  0% {
    -webkit-transform: rotateX(-80deg);
    transform: rotateX(-80deg);
    opacity: 0; }
  100% {
    -webkit-transform: rotateX(0);
    transform: rotateX(0);
    opacity: 1; } }

@keyframes flip-in-hor-top {
  0% {
    -webkit-transform: rotateX(-80deg);
    transform: rotateX(-80deg);
    opacity: 0; }
  100% {
    -webkit-transform: rotateX(0);
    transform: rotateX(0);
    opacity: 1; } }

@media screen and (max-width: 991px) {
  nav div ul li a .btn, nav div ul li a .btn-2 {
    display: none; } }

@media screen and (min-width: 991px) {
  .btn-mobile {
    display: none; } }

/*body*/
body {
  background-color: black; }

#mkt {
  background-color: #2b3030; }
  #mkt img {
    border-style: ridge; }

.clientes-color {
  background-color: black; }

.btn, .btn-2 {
  background-color: cyan;
  color: black;
  font-weight: bold; }

/* Informacion duo digital*/
@media screen and (min-width: 991px) {
  .article-mobile {
    display: none; } }

@media screen and (max-width: 991px) {
  .article-desktop {
    display: none; } }

/* informacion duo digital*/
/*clientes*/
.clientes {
  background-color: #2b3030;
  margin-top: 60px; }
  .clientes h2 {
    margin-top: 5px;
    margin-bottom: 100px; }
  .clientes img {
    width: 100px;
    height: 250px;
    border-radius: 50%; }

/*clientes*/
/*fin de body*/
/*que hacemos*/
.img-embudo {
  width: 500px; }

/*que hacemos*/
/*donde encontrar a tus clientes*/
#mkt-1 {
  background-color: #1a8b9d; }

/*donde encontrar a tus clientes*/
footer {
  background-color: #2b3030; }
  footer img {
    background-color: white;
    border-radius: 40%; }
