/*body*/
body{
    background-color: map-get($map: $fondo, $key:'uno');
}

#mkt{
    background-color: rgb(43, 48, 48);
    img{
        border-style:ridge
    }
}

.img-border{
    border-style: ridge;
}

.text-content{
    width: 600px;
}


.clientes-color{
    background-color: black;
}

.btn{
    background-color: cyan;
    color: black;
    font-weight: bold;
}

.img_clientes{
    width: 40%;
    border-radius: 50%;
    display: flex;
    align-content: center;
    
}


/* Informacion duo digital*/


  @media screen and (min-width: 991px){
      .article-mobile{
         display: none;
      }
      
  }

  @media screen and (max-width: 991px){
    .article-desktop{
       display: none;
    }
    
}

/* informacion duo digital*/

/*clientes*/


.clientes{
    background-color: rgb(43, 48, 48);
    margin-top: 60px;
    h2{
        margin-top: 5px;
        margin-bottom: 100px;
    }
    img{
        width: 50%;
        height: 90%;
        border-radius: 50%;
       
    }
}
 

/*clientes*/

/*fin de body*/



/*que hacemos*/

.img-embudo{
    width: 500px;
}

/*que hacemos*/


/*donde encontrar a tus clientes*/

#mkt-1{
    background-color: rgb(26, 139, 157);
}

/*donde encontrar a tus clientes*/